build
out
target

*.ipr
*.iws
*.iml
*.idea
*.ids
.shelf
/doc
api/doc
.DS_Store
.ideaDataSources/

node_modules
*qshell*

*.pyc

*.log
data/
dump.rdb
/dataSources/
**/package-lock.json

src/main/webapp/static/js
src/main/webapp/static/css
src/main/webapp/static/fonts
src/main/webapp/static/images
.classpath
.project
.settings/**

venv
deploy/venv
