spring.datasource.url={{ mysql_url|default("jdbc:mysql://127.0.0.1:3306/house-platform?characterEncoding=utf8") }}
spring.datasource.username={{ mysql_username|default("root") }}
spring.datasource.password={{ mysql_password }}
spring.jpa.database-platform=org.hibernate.dialect.MySQL5Dialect
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
spring.jpa.hibernate.ddl-auto=none
spring.jpa.database=MYSQL
spring.jpa.show-sql=true
spring.jpa.generate-ddl=false

spring.mvc.view.prefix= /WEB-INF/views/
spring.mvc.view.suffix= .jsp
spring.mvc.static-path-pattern=/static/**,/static_page/**
server.session.timeout={{ session_timeout|default(7200) }}